.title {
    margin-bottom: 6rem;

    h2 {
        font-size: 4rem;
        font-weight: 600;
        text-align: center;
        text-transform: capitalize;
    }
}

.subtitle {
    margin-top: 13rem;
    margin-bottom: 3.3rem;

    p {
        font-size: 2.7rem;
        text-align: center;
    }
}