.footer {
    @include flex(row, space-between, center);
    flex-shrink: 0;
    padding: 2rem 0;

    ul {
        @include flex(row, space-between, center);

        li {
            margin-right: 2rem;
            
            a {
                font-size: 1.7rem;

                @include respond-to('tablet') {
                    margin-bottom: 1.3rem;
                    font-size: 1.6rem;
                }
            
                @include respond-to('phone-md') {
                    margin-bottom: 1.3rem;
                    font-size: 1.5rem;
                }
            
                @include respond-to('phone-sm') {
                    margin-bottom: 1.3rem;
                    font-size: 1.4rem;
                }
            }

        }
    }

    &__copyright {
        p {
            font-size: 2rem;

            @include respond-to('tablet') {
                margin-bottom: 1.3rem;
                font-size: 1.8rem;
            }
        
            @include respond-to('phone-md') {
                margin-bottom: 1.3rem;
                font-size: 1.6rem;
            }
        
            @include respond-to('phone-sm') {
                margin-bottom: 1.3rem;
                font-size: 1.3rem;
            }
        }
    }

    @include respond-to('tablet') {
        @include flex(column, space-between, center);
    }

    @include respond-to('phone-md') {
        @include flex(column, space-between, center);
    }

    @include respond-to('phone-sm') {
        @include flex(column, space-between, center);
    }
}