.main-menu {
    @include flex(row, space-between, center);
    margin-top: 1rem;

    &__logo {
        font-size: 3rem;
    }

    &__list {
        
        ul {
            @include flex(row, space-between, center);

            li {
                margin-right: 2rem;
                
                a {
                    font-size: 2rem;
                }

                svg {
                    color: #f0c420;
                }
            }
        }
    }

    @include respond-to('tablet') {
        display: none;
    }

    @include respond-to('phone-mb') {
        display: none;
    }

    @include respond-to('phone-sm') {
        display: none;
    }
}