.up-arrow {
    height: 5rem;
    width: 5rem;
    margin-left: auto;
    margin-right: 2rem;
    font-size: 2.6rem;
    padding: 1.2rem 1rem;
    background-color: $black;
    color: $white;
    @include border-radius(50%);
    @include flex(row, center, center);
    position: sticky;
    bottom: 7.6rem;

    svg {
        color: $white;
    }
}