*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;

  @include respond-to('tablet') {
    padding: 1rem 0;
  }
  
  @include respond-to('phone-md') {
    padding: 0;
  }
  
  @include respond-to('phone-sm') {
    padding: 0;
  }
}

.wrapper {
  max-width: 100%;
  flex: 1 0 auto;
}

a {
  text-decoration: none;
  color: $black;
  outline: none;
}

button {
  outline: none;
}

img {
  height: auto;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
