//! import google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap');
// OR use @font-face like below

//! import a custom font below


//! set font variables
$font-nunito: 'Nunito', sans-serif;

body {
  font-family: $font-nunito;
  font-size: 1.6rem;
  color: $black;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-nunito;
  font-weight: 400;
  transition: .4s;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3{
  font-size: 1.872rem;
}

h4{
  font-size: 1.6rem;
}

h5{
  font-size: 1.328rem;
}

h6{
  font-size: 1.072rem;
}

p {
  font-family: $font-nunito;
  font-weight: 300;
  transition: all 1s ease-in-out;
  line-height: 1.23;
}