.blog-detail {

    &__features {
        @include flex(row, space-between, center);
        span {
            display: block;
        }
    }

    &__back {
        text-align: center;

        a {
            position: relative;
            transition: all .3s ease;

            &::before {
                content: "←";
                position: absolute;
                opacity: 0;
                top: 1.4px;
                left: -1.9rem;
                transition: .4s ease;
            }

            &:hover {
                padding-left: .7rem;
                font-weight: 500;

                &::before {
                    opacity: 1;
                    left: -2.3rem;
                }
            }
        }
    }
}