.blogs {

    &__blog {
        position: relative;
        @include border-radius(1.2rem);
        z-index: 1;
        overflow: hidden;
        box-shadow: $shadow-md;
        margin-bottom: 2.3rem;
        margin-right: 1.2rem;
        transition: box-shadow, transform .3s ease-in-out;

        &__img {
            position: relative;
        }

        &__content {
            padding: 2.5rem 2.5rem;

            &__title {

                a {

                    h3 {
                        font-size: 1.8rem;
                        font-weight: 600;
                        line-height: 1.6em;
                        margin-bottom: 1.6rem;
                        text-transform: capitalize;
                        text-align: center;

                        @include respond-to('phone-sm') {
                            font-size: 1.4rem;
                        }
                    }

                    &:hover {
                        color: $primary;
                    }
                }
            }

            &__date {
                margin-bottom: 1.6rem;
                text-align: center;
                span {
                    font-size: 1.4rem;
                }
            }

            &__bottom {
                border-top: .1rem solid #d6d6d6;
                padding-top: 1.6rem;
                margin-top: 1rem;
                @include flex(row, space-between, center);

                span {
                    font-size: 1.4rem;

                    @include respond-to('phone-sm') {
                        font-size: 1.2rem;
                    }
                }
            }
        }

        &:hover {
            box-shadow: $shadow-xl;
            transform: translateY(-1.2rem);
        }
    }
}