.me {

    &-img {
        margin-bottom: 15rem;
    }

    &-story {
        margin: 0 3rem;

        p {
            line-height: 4rem;
            font-size: 2rem;
            margin-bottom: 2rem;
            font-weight: 500;
        }
    }
}