/* MEDIA QUERIES */
@mixin respond-to($breakpoint) {
  @if $breakpoint=="phone-sm" {
    @media (max-width: 575.98px) {
      @content;
    }
  }

  @else if $breakpoint=="phone-md" {
    @media (min-width: 576px) and (max-width: 767.98px) {
      @content;
    }
  }

  @else if $breakpoint=="tablet" {
    @media (min-width: 768px) and (max-width: 991.98px) {
      @content;
    }
  }

  @else if $breakpoint=="desktop" {
    @media (min-width: 992px) and (max-width: 1199.98px) {
      @content;
    }
  }

  @else if $breakpoint=="4K" {
    @media (min-width: 1200px) {
      @content;
    }
  }

  @else {
    @media ($breakpoint) {
      @content;
    }
  }
}

//! Example usage
/* @include respond-to('mobile') {} */


/* CENTERING */
@mixin centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex ($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin border-radius($radius) {
  border-radius: $radius;
}