//? set your brand colors

$white: #fff;

$light-grey: #fafafa;
$grey: #d7d7d7;

$black-soft: #444;
$black: #000;


//? override for project clarity

$primary: rgba(21, 155, 88, 1);
$secondary: rgba(5, 47, 95, 1);
$tertiary: rgba(0, 83, 119, 1);
$color4: rgba(213, 198, 122, 1);
$color5: rgba(241, 162, 8, 1);

$shadow: 0 .1rem .3rem 0 rgba($black, 0.1), 0 .1rem .2rem 0 rgba($black, 0.06);
$shadow-md: 0 .4rem .6rem -.1rem rgba($black, 0.1), 0 .2rem .4rem -.1rem rgba($black, 0.06);
$shadow-lg: 0 1rem 1.5rem -.3rem rgba($black, 0.1), 0 .4rem .6rem -.2rem rgba($black, 0.05);
$shadow-xl: 0 2rem 2.5rem -.5rem rgba($black, 0.1), 0 1rem 1rem -.5rem rgba($black, 0.04);
$shadow-2xl: 0 2.5rem 5rem -1.2rem rgba($black, 0.25);
$shadow-inner: inset 0 .2rem .4rem 0 rgba($black, 0.06);
$shadow-outline: 0 0 0 .3rem rgba($black, 0.5);
$shadow-smooth: 0 .8rem 2.5rem 0 rgba($black, 0.06);
